In [1]:
from google.colab import files
uploaded = files.upload()

Saving marketing_campaign.csv to marketing_campaign.csv

# **Importing pandas, reading the tab-separated file 'marketing_campaign.csv' into a DataFrame called df, and then displaying the first few rows using df.head() to quickly check the data.**

In [5]:
import pandas as pd

df = pd.read_csv('marketing_campaign.csv', sep='\t')
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

# **Checking for null values and counting them in each column.**

In [6]:
df.isnull().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

# **Filling null values as Unknown.**

In [10]:
df.fillna({'Education': 'Unknown', 'Marital_Status': 'Unknown'}, inplace=True)

# **Removing Null values from the dataset**

In [11]:
df.drop_duplicates(inplace=True)

# **Standardizing the text values**

In [12]:
df['Education'] = df['Education'].replace({
    'Graduation': 'Graduate',
    'PhD': 'Doctorate',
    'Master': 'Postgraduate',
    '2n Cycle': 'Postgraduate',
    'Basic': 'School'
})

In [13]:
df['Marital_Status'] = df['Marital_Status'].replace({
    'Married': 'Married',
    'Together': 'Married',
    'Single': 'Single',
    'Divorced': 'Separated',
    'Widow': 'Separated',
    'Alone': 'Single',
    'Absurd': 'Single',
    'YOLO': 'Single'
})

In [14]:
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], format='%d-%m-%Y', errors='coerce')

In [15]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduate,Single,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduate,Single,46344.0,1,1,2014-03-08,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduate,Married,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduate,Married,26646.0,1,0,2014-02-10,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,Doctorate,Married,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0

# **Coverting date Format**

In [16]:
df['Dt_Customer'] = df['Dt_Customer'].dt.strftime('%d-%m-%Y')

In [17]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduate,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduate,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduate,Married,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduate,Married,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,Doctorate,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

# **Renaming column Headers**

In [18]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('-', '_')

In [19]:
df.head()

,id,year_birth,education,marital_status,income,kidhome,teenhome,dt_customer,recency,mntwines,...,numwebvisitsmonth,acceptedcmp3,acceptedcmp4,acceptedcmp5,acceptedcmp1,acceptedcmp2,complain,z_costcontact,z_revenue,response
0,5524,1957,Graduate,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduate,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduate,Married,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduate,Married,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,Doctorate,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

# **Checking the datatypes**

In [20]:
df.dtypes

id                      int64
year_birth              int64
education              object
marital_status         object
income                 object
kidhome                 int64
teenhome                int64
dt_customer            object
recency                 int64
mntwines                int64
mntfruits               int64
mntmeatproducts         int64
mntfishproducts         int64
mntsweetproducts        int64
mntgoldprods            int64
numdealspurchases       int64
numwebpurchases         int64
numcatalogpurchases     int64
numstorepurchases       int64
numwebvisitsmonth       int64
acceptedcmp3            int64
acceptedcmp4            int64
acceptedcmp5            int64
acceptedcmp1            int64
acceptedcmp2            int64
complain                int64
z_costcontact           int64
z_revenue               int64
response                int64
dtype: object

# **Preparing age Column in the dataset using formula**

In [22]:
df['age'] = 2025 - df['year_birth']

In [23]:
df.head()

,id,year_birth,education,marital_status,income,kidhome,teenhome,dt_customer,recency,mntwines,...,acceptedcmp3,acceptedcmp4,acceptedcmp5,acceptedcmp1,acceptedcmp2,complain,z_costcontact,z_revenue,response,age
0,5524,1957,Graduate,Single,58138.0,0,0,04-09-2012,58,635,...,0,0,0,0,0,0,3,11,1,68
1,2174,1954,Graduate,Single,46344.0,1,1,08-03-2014,38,11,...,0,0,0,0,0,0,3,11,0,71
2,4141,1965,Graduate,Married,71613.0,0,0,21-08-2013,26,426,...,0,0,0,0,0,0,3,11,0,60
3,6182,1984,Graduate,Married,26646.0,1,0,10-02-2014,26,11,...,0,0,0,0,0,0,3,11,0,41
4,5324,1981,Doctorate,Married,58293.0,1,0,19-01-2014,94,173,...,0,0,0,0,0,0,3,11,0,44

# **Changing age data type from object to int**

In [24]:
df['age'] = df['age'].astype(int)

In [25]:
df.dtypes

id                      int64
year_birth              int64
education              object
marital_status         object
income                 object
kidhome                 int64
teenhome                int64
dt_customer            object
recency                 int64
mntwines                int64
mntfruits               int64
mntmeatproducts         int64
mntfishproducts         int64
mntsweetproducts        int64
mntgoldprods            int64
numdealspurchases       int64
numwebpurchases         int64
numcatalogpurchases     int64
numstorepurchases       int64
numwebvisitsmonth       int64
acceptedcmp3            int64
acceptedcmp4            int64
acceptedcmp5            int64
acceptedcmp1            int64
acceptedcmp2            int64
complain                int64
z_costcontact           int64
z_revenue               int64
response                int64
age                     int64
dtype: object